<div class="footer bcl-site-footer" role="contentinfo">
    <div class="bcl-site-footer__inner">
        <div class="bcl-site-footer__brand-group">
            <a class="bcl-site-footer__brand" href="/index.html">BCL</a>
            <span class="bcl-site-footer__tag">BIM Central
                Learning</span>
        </div>
        <div class="bcl-site-footer__links">
            <a href="/pages/about.html">About</a>
            <a href="/pages/help.html">Help</a>
            <a href="mailto:nke-bim@nusakonstruksi.com">nke-bim@nusakonstruksi.com</a>
            <a href="tel:+62217221003">(021)
                7221003</a>
        </div>
        <div class="bcl-site-footer__meta">&copy; 2025 BIM NKE
        </div>
    </div>
</div>
